<div class="c-cards">
    <div class="c-cards__card">
        <div class="c-cards__card__description">
            <img src="../../../../assets/images/icons/light.svg"/>
            <span>Unidades Consumidoras</span>
        </div>
        <div class="c-cards__card__value">
            <span>33</span>
        </div>
    </div>

    <div class="c-cards__card">
        <div class="c-cards__card__description">
            <img src="../../../../assets/images/icons/invoice.svg" />
            <span>Total de Faturas</span>
        </div>
        <div class="c-cards__card__value">
            <span>45</span>
        </div>
    </div>

    <div class="c-cards__card">
        <div class="c-cards__card__description">
            <img src="../../../../assets/images/icons/history.svg" />
            <span>Faturas Vencidas</span>
        </div>
        <div class="c-cards__card__value">
            <span>8</span>
        </div>
    </div>
</div>
