<div class="c-cards">
    <div class="c-cards__card">
        <div class="c-cards__card__description">
            <img src="assets/images/icons/light.svg"/>
            <span>Unidades Consumidoras</span>
        </div>
        <div class="c-cards__card__value">
            <ng-container *ngIf="unidades$ | async as unidades">
                <span>{{unidades.length}}</span>
            </ng-container>
        </div>
    </div>

    <div class="c-cards__card">
        <div class="c-cards__card__description">
            <img src="assets/images/icons/invoice.svg" />
            <span>Total de Faturas</span>
        </div>
        <div class="c-cards__card__value">
            <ng-container *ngIf="faturas$ | async as faturas">
                <span>{{faturas.length}}</span>
            </ng-container>
        </div>
    </div>

    <div class="c-cards__card">
        <div class="c-cards__card__description">
            <img src="assets/images/icons/history.svg" />
            <span>Faturas Vencidas</span>
        </div>
        <div class="c-cards__card__value">
            <span>0</span>
        </div>
    </div>
</div>

<div class="graphic mt-4" *ngIf="unidadesConsumo">
    <div class="graphic__data" *ngFor="let unidade of unidadesConsumo">
        <div class="graphic__units">
            <div class="graphic__unit">
                <span>{{unidade.unidade}}</span>
            </div>
        </div>
        <div class="graphic__consumed">
            <div class="graphic__bar">
                <div class="graphic__sub-bar" [ngStyle]="{'width': calcularPorcentagem(unidade.mediaConsumo) + '%'}">
                </div>
            </div>
        </div>
    </div>
    <div class="graphic__footer">
        <div></div>
        <div class="graphic__scale">
            <span *ngFor="let consumo of consumos">{{consumo}}</span>
        </div>
    </div>
</div>