@import "../../../../sass/variables";

.c-cards {
  display: grid;
  grid-template-areas: "c1 c2 c3";
  row-gap: 26px;
  @media (max-width: 1230px) {
    grid-template-areas:
      "c1 c2"
      "c3 c3";
  }

  @media (max-width: 941px) {
    grid-template-areas:
      "c1"
      "c2"
      "c3";
  }
  &__card {
    height: 146px;
    width: 276px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
    border-radius: 7px;
    border-top: 7px solid;
    padding: 20px;
    justify-self: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      grid-area: c1;
      border-color: $info;
      color: $info;
    }
    &:nth-child(2) {
      border-color: $sucess;
      color: $sucess;
      grid-area: c2;
    }
    &:nth-child(3) {
      border-color: $danger;
      color: $danger;
      grid-area: c3;
    }

    &__description {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 10px;
      }
    }
    &__value {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 52px;
    }
  }
}

.graphic {
  width: 100%;
  background: #f2f2f2;
  padding: 20px;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
  border-radius: 7px;
  overflow-x: auto;
  &__data {
    display: flex;
    min-width: 625px;
  }
  &__units {
    width: 30%;
    max-width: 150px;
  }
  &__unit,
  &__bar {
    height: 38px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__consumed {
    width: calc(100% - 162px);
  }
  &__sub-bar {
    height: 12px;
    background-color: $info;
    border-radius: 8px;
  }
  &__footer {
    display: flex;
    min-width: 625px;
    & > div:first-child {
      width: 30%;
      max-width: 150px;
    }
  }
  &__scale {
    width: 100%;
    display: flex;
    justify-content: space-between;
    span {
      position: relative;
      &:before {
        content: "";
        height: 163px;
        position: absolute;
        bottom: 32px;
        z-index: 1;
        border: 1px dotted #cacaca;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
