.btn {
  color: white;
  font-weight: bolder;
  font-size: 16px;
  outline: none;
  padding: 12px 32px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.6s;
  &.is-sucess {
    background-color: $sucess;
    &:hover {
      background-color: darken($sucess, 10);
    }
  }
  &.is-primary {
    background-color: $primary;
    &:hover {
      background-color: darken($primary, 10);
    }
  }
  &.is-danger {
    background-color: $danger;
    &:hover {
      background-color: darken($danger, 10);
    }
  }
}
