<div class="m-container">
    <div class="m-container--modal">
        <form [formGroup]="formUnidade" (ngSubmit)="submit()">
            <div style="display: flex;">
                <div class="c-form-group mt-5 is-normal">
                    <div class="c-form-group__input">
                        <input (blur)="onBlur($event)" name="nome" id="nome" formControlName="nome" />
                        <label>Nome</label>
                    </div>
                    <div class="c-form-group__line"></div>
                
                    <div class="c-form-group__input">
                        <input (blur)="onBlur($event)"  name="distribuidora" id="distribuidora" formControlName="distribuidora" />
                        <label>Distribuidora</label>
                    </div>
                    <div class="c-form-group__line"></div>
                </div>

                <div class="c-form-group mt-5 is-normal" style="margin-left: 1.5rem;">
                    <div class="c-form-group__input">
                        <input (blur)="onBlur($event)" name="numero" id="numero" formControlName="numero" />
                        <label>Número</label>
                    </div>
                    <div class="c-form-group__line"></div>
                
                    <div class="c-form-group__input">
                        <input (blur)="onBlur($event)" name="endereco" id="endereco" formControlName="endereco" />
                        <label>Endereço</label>
                    </div>
                    <div class="c-form-group__line"></div>
                </div>
            </div>

            <button type="submit">Salvar</button>
        </form>
    </div>
</div>