<div class="table">
    <div class="table__title">
        <h3>Unidades Consumidoras</h3>
        <button (click)="showModalUnidade = true" class="is-sucess">Adicionar</button>
    </div>
    <div class="table__content">

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Distribuidora</th>
                    <th>Número</th>
                    <th>Endereço</th>
                    <th>Criado em</th>
                    <th>Atualizado em</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let unidade of unidades">
                    <td>{{unidade.id}}</td>
                    <td>{{unidade.nome}}</td>
                    <td>{{unidade.distribuidora}}</td>
                    <td>{{unidade.numero}}</td>
                    <td>{{unidade.endereco}}</td>
                    <td>{{unidade.createdAt | formatDate}}</td>
                    <td>{{unidade.updatedAt | formatDate}}</td>
                    <td>
                        <img src="assets/images/icons/invoice.svg" title="Visualizar Faturas" (click)="redirectFaturas(unidade)" />
                        <img src="assets/images/icons/plus.svg" title="Adicionar Fatura" (click)="adicionarFatura(unidade)" />
                        <img src="assets/images/icons/edit.svg" title="Editar" (click)="editUnidade(unidade)" />
                        <img src="assets/images/icons/trash.svg" title="Excluir" (click)="deleteUnidade(unidade)" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<app-unidade-modal
    *ngIf="showModalUnidade"
    [unidade]="unidade"
    (submitButton)="getAllUnidades()"
    (onCloseModal)="closeModal()">
</app-unidade-modal>

<app-fatura-modal
    *ngIf="showModalFatura"
    [fatura]="fatura"
    (submitButton)="getAllUnidades()"
    (onCloseModal)="closeModal()">
</app-fatura-modal>