<div class="m-modal" id="modal-unidade">
    <div class="m-modal__backdrop" (click)="closeModal()"></div>

    <div class="m-modal__content">
    <div class="m-modal__content__header">
        <h2>{{unidade.id ? 'Editar' : 'Adicionar'}} Unidade Consumidora</h2>
    </div>
    <div class="m-modal__content__body">
        <form [formGroup]="formUnidade">
            <div style="display: flex;" class="mt-3">
                <div class="c-form-group is-normal">
                    <div class="c-form-group__input">
                        <input (blur)="onBlur($event)" name="nome" id="nome" formControlName="nome" />
                        <label>Nome</label>
                    </div>
                    <div class="c-form-group__line"></div>
                
                    <div class="c-form-group__input">
                        <input (blur)="onBlur($event)"  name="distribuidora" id="distribuidora" formControlName="distribuidora" />
                        <label>Distribuidora</label>
                    </div>
                    <div class="c-form-group__line"></div>
                </div>

                <div class="c-form-group is-normal" style="margin-left: 1.5rem;">
                    <div class="c-form-group__input">
                        <input (blur)="onBlur($event)" name="numero" id="numero" formControlName="numero" />
                        <label>Número</label>
                    </div>
                    <div class="c-form-group__line"></div>
                
                    <div class="c-form-group__input">
                        <input (blur)="onBlur($event)" name="endereco" id="endereco" formControlName="endereco" />
                        <label>Endereço</label>
                    </div>
                    <div class="c-form-group__line"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="m-modal__content__footer">
        <button (click)="submit()" class="btn is-sucess">{{unidade.id ? 'Atualizar' : 'Cadastrar'}}</button>
        <button (click)="closeModal()" class="btn is-danger">Cancelar</button>
    </div>
</div>
</div>