<div class="table" style="border-color: #37c293;">
    <div class="table__title" style="background-color: #37c293;">
        <h3>Faturas</h3>
    </div>
    <div class="table__content">

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Consumo</th>
                    <th>Valor</th>
                    <th>Unidade</th>
                    <th>Data de vencimento</th>
                    <th>Criado em</th>
                    <th>Atualizado em</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fatura of faturas">
                    <td>{{fatura.id}}</td>
                    <td>{{fatura.consumo}}</td>
                    <td>{{formatValue(fatura.valor)}}</td>
                    <td>{{fatura.unidadeConsumidoraId}}</td>
                    <td>{{fatura.data_de_vencimento}}</td>
                    <td>{{fatura.createdAt}}</td>
                    <td>{{fatura.updatedAt}}</td>
                    <td>
                        <img src="assets/images/icons/edit.svg" title="Editar" (click)="editFatura(fatura)" />
                        <img src="assets/images/icons/trash.svg" title="Excluir" (click)="deleteFatura(fatura)" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<app-fatura-modal
    *ngIf="showModalFatura"
    [fatura]="fatura"
    (submitButton)="getAllFaturas()"
    (onCloseModal)="closeModal()">
</app-fatura-modal>